.login-form {
    border: 1px solid #a1a1a1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.form-logo {
    width: 200px;
    height: 200px;
}

@media (max-width: 768px) {
    .login-form {
        width: 100%;
    }

    .form-logo {
        width: 100px;
        height: 100px;
    }
}